* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "light";
  src: url("./assets/light.otf");
}

@font-face {
  font-family: "italic";
  src: url("./assets/italic.otf");
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "light";
}

.page1 {
  height: 100vh;
  width: 100vw;
  background-color: #F5E31A;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page1 h1 {
  font-size: 3.5vw;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.page1 h1 em {
  font-style: italic;
  font-family: "italic";
}

.page2 {
  height: 100vh;
  width: 100vw;
  background-color: #0c0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page2 h1 {
  font-size: 100px;
  font-weight: 100;
}

.page3 {
  height: 100vh;
  width: 100vw;
  background-color: #dce9e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page3 h1 {
  font-size: 100px;
  font-weight: 100;

}
